AutoCorrelation: AutoCorrelation blockSize=8192 stepSize=4096 ACNbCoeffs=3
MFCC: MFCC blockSize=8192 stepSize=4096
MelSpectrum: MelSpectrum blockSize=8192 stepSize=4096
LPC: LPC blockSize=8192 stepSize=4096
LSF: LSF blockSize=8192 stepSize=4096
OBSI: OBSI blockSize=8192 stepSize=4096
OBSIR: OBSIR blockSize=8192 stepSize=4096
PerceptualSharpness: PerceptualSharpness blockSize=8192 stepSize=4096
PerceptualSpread: PerceptualSpread blockSize=8192 stepSize=4096
SpectralDecrease: SpectralDecrease blockSize=8192 stepSize=4096
SpectralFlatness: SpectralFlatness blockSize=8192 stepSize=4096
SpectralRolloff: SpectralRolloff blockSize=8192 stepSize=4096
SpectralShapeStatistics: SpectralShapeStatistics blockSize=8192 stepSize=4096
SpectralSlope: SpectralSlope blockSize=8192 stepSize=4096
SpectralVariation: SpectralVariation blockSize=8192 stepSize=4096
TemporalShapeStatistics: TemporalShapeStatistics blockSize=8192 stepSize=4096
ZCR: ZCR blockSize=8192 stepSize=4096
