MelSpectrum: MelSpectrum blockSize=512 stepSize=256 MelNbFilters=80 MelMaxFreq=8000  MelMinFreq=400
CQT2: CQT2 stepSize=256 CQTMinFreq=400 CQTBinsPerOctave=30
CQT: CQT CQTAlign=c  CQTBinsPerOctave=26  CQTMinFreq=250  CQTNbOctaves=5  stepSize=256
MagnitudeSpectrum: MagnitudeSpectrum FFTLength=0  FFTWindow=Hanning  blockSize=512 stepSize=256
